<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">

</head>
<body>
        <h1 align="center">Welcome to the URL Shortener, <% if(locals.user) { %> <%= user.name %> <% } %>
        </h1>
<form action="/url" method="post">
    <table class="table table-striped table-hover table-dark">  
        <tr>
            <th>Enter the url to create short link for:</th>
            <th><input type="text" name="url" placeholder="Enter URL"></th>
        </tr>
    </table>
<td colspan="2"><button style="width:100%" class="btn btn-primary" type="submit">Shorten URL</button></td>
</form>
<br>
    <table class="table table-striped  table-hover">
        <tr class="table-dark">
            <th>Short URL</th>
            <th>Original URL</th>
            <th>clicks</th>

        </tr>
        <% for(let i = 0; i < urls.length; i++) { %>
        <tr>
            <td><%= urls[i].short_id %></td>
            <td><%= urls[i].redirect_url %></td>
            <td><%= urls[i].click_count %></td>
        </tr>
        <% } %>
    </table>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>

</body>
</html>